<h4>
  <%= link_to 'Preços', carrier_prices_path(@carrier) %>
  |
  <%= link_to 'Prazos', carrier_deadlines_path(@carrier) %>
  |
  <%= link_to 'Veículos', carrier_vehicles_path(@carrier) %>  
  |
  <%= link_to 'Ordens de Serviço', carrier_update_order_services_path(@carrier) %> 
  |
  <%= link_to 'Atualizar Ordem de Serviço', search_carrier_update_order_services_path(@carrier) %> 
</h4>

<h3> Transportadora <%= @carrier.brand_name %> </h3>
<h5> <%= @carrier.corporate_name %> </h5>

<dl>
  <dt>Documento:</dt>
  <dd> <%=@carrier.registration_number%> </dd>
  <dt>Endereço:</dt>
  <dd> <%=@carrier.full_address%> - <%=@carrier.city%> - <%=@carrier.state%> </dd>
  <dt>Status:</dt>
  <dd> <%= I18n.t(@carrier.status) %> </dd>
</dl>

<% if @carrier.status == 'enabled' %>
  <%= button_to 'Desativar', disabled_carrier_path, { method: 'patch'} %>
<% elsif @carrier.status == 'disabled' %>
  <%= button_to 'Ativar', enabled_carrier_path, { method: 'patch'} %>
<% end %>