<h4>
  <%= link_to 'Preços', carrier_prices_path(@carrier) %>
  |
  <%= link_to 'Prazos', carrier_deadlines_path(@carrier) %> 
</h4>

<h3> Transportadora <%= @carrier.brand_name %> </h3>
<h5> <%= @carrier.corporate_name %> </h5>

<dl>
  <dt>Documento:</dt>
  <dd> <%=@carrier.registration_number%> </dd>
  <dt>Endereço:</dt>
  <dd> <%=@carrier.full_address%> - <%=@carrier.city%> - <%=@carrier.state%> </dd>
</dl>