<h3>
  <%= link_to @carrier.brand_name, carrier_path(@carrier) %>
</h3>

<% if @vehicles.any? %>
  <h3> Selecione um Veículo para a Ordem de Serviço <%= @order_service.code %> </h3>
  <%= form_with(model: [:carrier, @order_service], url: carrier_order_service_path(@carrier, @order_service)) do |f| %> 
    <div> 
      <%= f.label :vehicle_id %>
      <%= f.collection_select :vehicle_id, @vehicles, :id, :full_description %>
    </div>
    <%= f.submit 'Enviar' %>
  <% end %>
<% else %>
  <p> A transportadora não possui veículos cadastrados. </p>
<% end %>