<h3>
  <%= link_to @carrier.brand_name, carrier_path(@carrier) %>
</h3>
<% if @order_service != nil%>
  <h3> Atualizar Ordem de Serviço <%= @order_service.code %> </h3>
<% end %>
<%= form_with(model: [:carrier, @update_order_service]) do |f| %> 
  
  <div> 
    <%= f.label :msg_update %>
    <%= f.text_field :msg_update %>
  </div>
  <div> 
    <%= f.label :latitude %>
    <%= f.text_field :latitude %>
  </div>
  <div> 
    <%= f.label :longitude %>
    <%= f.text_field :longitude %>
  </div>
  <div>
    <%= f.hidden_field :order_service_id, value: @order_service.id %>
  </div>
  <%= f.submit 'Enviar' %>
<% end %>