<h3>
  <%= link_to @carrier.brand_name, carrier_path(@carrier) %>
</h3>

<h4>Atualizar Ordem de Serviço</h4>

<%= form_with(url: search_carrier_update_order_services_path(@carrier), method: :get) do |f| %>
  <%= f.label :code, 'Buscar Ordem de Serviço' %>
  <%= f.text_field :code %>
  <%= f.submit 'Buscar'%>
<% end %>

<% if @order_service != nil %>
  <div>
    <dl>
      <dt><strong> Ordem de Serviço <%= @code %> </strong></dt>  
      <dd> Endereço para Retirada: <%= @order_service.search_address %> - <%= @order_service.search_city %> - <%= @order_service.search_state %> </dd>
      <dd> Endereço para Entrega: <%= @order_service.delivery_address %> - <%= @order_service.delivery_city %> - <%= @order_service.delivery_state %> </dd>
      <dd> Status: <%= I18n.t(@order_service.status) %></dd>  
      <dd> Veículo: <%= @order_service.vehicle.brand %> <%= @order_service.vehicle.model %> - <%= @order_service.vehicle.plate %></dd>
    </dl>
  </div> 
<% end %>  
<% if @update_order_services.any? %>
  <h4> <caption> Tabela de atualizações da entrega </caption> </h4>
  <table class="table_updates" id="table_updates_id">
    <thead>
      <tr>
        <th>Data e Hora</th>
        <th>Mensagem de atualização</th>
        <th>Latitude</th>
        <th>Longitude</th>
      </tr>
    </thead>
    <tbody>
      <% @update_order_services.each do |up| %>
        <tr>
          <td> <%= I18n.l(up.created_at) %> </td>
          <td> <%= up.msg_update %> </td>
          <td> <%= up.latitude %> </td>
          <td> <%= up.longitude %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% if @order_service.status == "accepted" %>
    <%= link_to "Atualizar", new_carrier_update_order_service_path(@carrier, code: @code) %>
    <%= button_to 'Finalizar', finished_carrier_order_service_path(@carrier, @order_service), { method: 'patch'} %>
  <% end %>
<% elsif @order_service == nil && @code != nil%>
  <p> Ordem de Serviço não existe </p>
<% elsif @order_service == nil && @code == nil%>  

<% elsif @order_service.status == "accepted" %>
  <p> Ordem de Serviço não possui atualizações </p>
  <%= link_to "Atualizar", new_carrier_update_order_service_path(@carrier, code: @code) %>
<% elsif @order_service.status == "finished" %>
  <p> Ordem de Serviço Finalizada </p>
<% else %>
  <p> Ordem de Serviço não foi aceita pela Transportadora </p>
<% end %>