<h3>Cadastrar Preços:</h3> 
<%= link_to 'Volume', new_carrier_volume_path(@carrier) %>

<%= form_with(model: [:carrier, @price]) do |f|%>
    <div>
      <%= f.label :final_volume %>
      <%= f.text_field :final_volume%>
    </div>
    <div>
      <%= f.label :final_weight %>
      <%= f.text_field :final_weight%>
    </div>
    <div>
      <%= f.label :price_km %>
      <%= f.text_field :price_km%>
    </div>
    <div>
      <%= f.submit 'Cadastrar'%>
    </div>
<% end %>