<!DOCTYPE html>
<html>
  <head>
    <title>ShippingCompany</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <header>
      <%= link_to root_path do%>
        <h1>Br Transportadoras</h1>
        <h6>Empresa especializada em gestão de transportadoras</h6>
      <% end %>
    </header>
    <main>
      <div>
        <%= alert %>
        <%= notice %>
      </div>
      <%= yield %>
    </main>
  </body>
</html>
